<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body style="height: 100vh;">
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 p-2" style="background-color: #e08e0b;">
                        <div class="left-side-nav text-center text-white">
                            <h4>کتابخانه <span class="yekanExBold">مهر</span></h4>
                        </div>
                    </div>
                    <div class="col-md-10 p-2">
                        <div class="right-side-nav row">
                            <!-- <button class="openMenuBtn" type="button">menu</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="mainApp-div container-fluid">
        <div class="row">
            <div class="col-md-2 text-white" style="background-color: #222d32; height: 93vh;">
                <div class="left-side mt-2">
                    <!-- main menu | right side menu -->
                    <ul class="tab">
                        <li class="tablinks active" onclick="openTab(event, 'dashboardTab')" id="dashboardID">
                            <img src="../assets/images/fa--dashboard.svg" alt="">
                            <p>داشبورد</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'booksTab')">
                            <img src="../assets/images/fa--book.svg" alt="">
                            <p>کتاب ها</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'articleTab')">
                            <img src="../assets/images/material-symbols--article-sharp.svg" alt="">
                            <p id="articleID">مقالات و دوره ها</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'noteTab')">
                            <img src="../assets/images/ic--sharp-note-add.svg" alt="">
                            <p>نوشته ها</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'courseTab')">
                            <img src="../assets/images/material-symbols--explore.svg" alt="">
                            <p>عمومی</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'likeTab')">
                            <img src="../assets/images/subway--like.svg" alt="">
                            <p>لایک</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'bookmarkTab')">
                            <img src="../assets/images/ic--baseline-bookmark.svg" alt="">
                            <p>ذخیره شده</p>
                        </li>
                        <hr>
                        <li class="tablinks" onclick="openTab(event, 'helpTab')">
                            <img src="../assets/images/question.svg" alt="">
                            <p>راهنما</p>
                        </li>
                        <li class="tablinks" onclick="openTab(event, 'aboutTab')">
                            <img src="../assets/images/mdi--about.svg" alt="">
                            <p>درباره ما</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10" style="position: relative;">
                <div class="right-side mb-5">
                    <!-- ! dashboard  -->
                    <div class="tabcontent" id="dashboardTab" style="display: block;">
                        <div class="container mt-3">
                            <div class="title">
                                <h2 class="yekanExBold">داشبورد</h2>
                            </div>
                            <div class="row mt-5 text-center">
                                <!-- books -->
                                <div class="col-md-3">
                                    <div class="card-book">
                                        <div class="row">
                                            <div class="col-md-6 text-white" style="text-align: right;">
                                                <h1 class="yekanExBold" id="book_counter" style="font-size:3rem;"></h1>
                                                <p class="">کتاب</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/images/book-big.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-details tab"
                                            style="display: flex; background-color: #00acd7; cursor: pointer;">
                                            <a class="tablinks" onclick="openTab(event, 'booksTab')">اطلاعات بیشتر</a>
                                            <img src="../assets/images/more-info.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- autors -->
                                <div class="col-md-3">
                                    <div class="card-author">
                                        <div class="row">
                                            <div class="col-md-6 text-white" style="text-align: right;">
                                                <h1 class="yekanExBold" id="author_counter" style="font-size:3rem;">
                                                </h1>
                                                <p class="">نویسندگان</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/images/people-card.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-details" style="display: flex; background-color: #009551;">
                                            <a href="#">اطلاعات بیشتر</a>
                                            <img src="../assets/images/more-info.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- courses -->
                                <div class="col-md-3">
                                    <div class="card-course">
                                        <div class="row">
                                            <div class="col-md-6 text-white" style="text-align: right;">
                                                <h1 class="yekanExBold" style="font-size:3rem;">0</h1>
                                                <p class="">دوره آموزشی</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/images/course-big.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-details" style="display: flex; background-color: #da8c10;">
                                            <a href="#">اطلاعات بیشتر</a>
                                            <img src="../assets/images/more-info.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- article -->
                                <div class="col-md-3">
                                    <div class="card-article">
                                        <div class="row">
                                            <div class="col-md-6 text-white" style="text-align: right;">
                                                <h1 class="yekanExBold" style="font-size:3rem;" id="articleCourseId"></h1>
                                                <p class="">دوره و مقالات</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/images/article-big.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-details" style="display: flex; background-color: #c64333;">
                                            <a href="#">اطلاعات بیشتر</a>
                                            <img src="../assets/images/more-info.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- second line -->
                            <div class="dashboard-second-line mt-4">
                                <div class="row">
                                    <!-- notepadd -->
                                    <div class="col-md-3">
                                        <a href="#">
                                            <div class="container shadow">
                                                <div class="row">
                                                    <div class="col-md-5"
                                                        style="background-color: #00c0ef; display: flex; justify-content: center;">
                                                        <img src="../assets/images/ic--sharp-note-add.svg"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="col-md-7" style="background-color: #ffffff;">
                                                        <h5 class="yekanReg">یادداشت ها</h5>
                                                        <p class="yekanExBold" style="font-size: 1.6rem;"
                                                            id="noteCount">0</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- like -->
                                    <div class="col-md-3">
                                        <a href="#">
                                            <div class="container shadow">
                                                <div class="row">
                                                    <div class="col-md-5"
                                                        style="background-color: #dd4b39; display: flex; justify-content: center;">
                                                        <img src="../assets/images/subway--like.svg"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="col-md-7" style="background-color: #ffffff;">
                                                        <h5 class="yekanReg">لایک ها</h5>
                                                        <p class="yekanExBold" style="font-size: 1.6rem;">0</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- saved post -->
                                    <div class="col-md-3">
                                        <a href="#">
                                            <div class="container shadow">
                                                <div class="row">
                                                    <div class="col-md-5"
                                                        style="background-color: #00a65a; display: flex; justify-content: center;">
                                                        <img src="../assets/images/ic--baseline-bookmark.svg"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="col-md-7" style="background-color: #ffffff;">
                                                        <h5 class="yekanReg">ذخیره شده ها</h5>
                                                        <p class="yekanExBold" style="font-size: 1.6rem;">0</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- date and time -->
                                    <div class="col-md-3">
                                        <a href="#">
                                            <div class="container shadow">
                                                <div class="row">
                                                    <div class="col-md-5"
                                                        style="background-color: #f39c12; display: flex; justify-content: center;">
                                                        <img src="../assets/images/ic--twotone-date-range.svg"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="col-md-7" style="background-color: #ffffff;">
                                                        <h5 class="yekanReg">تاریخ امروز</h5>
                                                        <p class="yekanExBold" style="font-size: 1.3rem;"
                                                            id="todayDashboard"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- ! show books Tab -->
                    <div class="tabcontent mt-4" id="booksTab">
                        <div class="book-title mb-4 d-flex gap-2 align-items-center">
                            <h2 class="yekanExBold">همه کتاب ها</h2>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#bookHelpId">
                                <img src="../assets/images/fe--question.svg" style="width: 40px;" alt="">
                            </button>
                            <!-- Modal Body -->
                            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                            <div class="modal fade" id="bookHelpId" tabindex="-1" data-bs-backdrop="static"
                                data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
                                    role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                            <h5 class="modal-title" id="modalTitleId">
                                                راهنما
                                            </h5>
                                        </div>
                                        <div class="modal-body">Body</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">متوجه
                                                شدم !</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="search-books-div">
                            <h3 class="yekanBold">جستجو</h3>
                            <div class="searchBox my-3 row">
                                <div class="col-md-2">
                                    <p>جستجو بر اساس:</p>
                                </div>
                                <div class="col-md-5">
                                    <form style="display: flex;">
                                        <div class="form-group">
                                            <select id="inputState" class="form-control">
                                                <option>انتخاب کنید</option>
                                                <option>نام کتاب</option>
                                                <option>نویسنده</option>
                                                <option>ناشر</option>
                                                <option>نوع کتاب</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-3">
                                            <input type="text" class="form-control" id="search_input"
                                                placeholder="جستجو ..." onkeyup="SearchTable()">
                                        </div>
                                        <div class="addBookBtn-div">
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                data-bs-target="#modalId"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                                    <path fill="#fff"
                                                        d="M6.012 18H21V4c0-1.103-.897-2-2-2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.806 5 19s.55-.988 1.012-1M8 9h3V6h2v3h3v2h-3v3h-2v-3H8z" />
                                                </svg> اضافه کردن </button>
                                        </div>
                                        <!-- Modal Body -->
                                        <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                                        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static"
                                            data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
                                                role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                        <h5 class="modal-title" id="modalTitleId">
                                                            اضافه کردن سریع کتاب
                                                        </h5>
                                                    </div>
                                                    <!-- inputs to add books -->
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <p class="text-danger">* کتاب های با چند نویسنده را با - جدا
                                                                کنید</p>
                                                            <form>
                                                                <div class="mb-3 row">
                                                                    <label for="bookName"
                                                                        class="col-4 col-form-label">نام کتاب</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control" required
                                                                            name="bookName" id="bookName"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="author"
                                                                        class="col-4 col-form-label">نویسندگان</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="author" id="author" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="bookType"
                                                                        class="col-4 col-form-label">نوع کتاب</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="bookType" id="bookType"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="publishers"
                                                                        class="col-4 col-form-label">ناشر</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="publishers" id="publishers"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="publishCount"
                                                                        class="col-4 col-form-label">نوبت چاپ</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="publishCount" id="publishCount"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="publishYear"
                                                                        class="col-4 col-form-label">سال انتشار</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="publishYear" id="publishYear"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="price"
                                                                        class="col-4 col-form-label">قیمت</label>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            name="price" id="price">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="content"
                                                                        class="col-4 col-form-label">توضیحات</label>
                                                                    <div class="col-8">
                                                                        <textarea class="form-control" name="content"
                                                                            id="content"
                                                                            placeholder="توضیحات"></textarea>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-danger"
                                                            data-bs-dismiss="modal">
                                                            لغو
                                                        </button>
                                                        <button id="saveBookButton" type="button"
                                                            class="btn btn-warning" data-bs-dismiss="modal"
                                                            aria-label="Close">ذخیره</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                        </div>

                        <div id="all-books">
                            <div class="books-table">
                                <table class="table table-hover table-bordered table-striped table-responsive"
                                    id="table_books">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام کتاب</th>
                                            <th>نویسنده</th>
                                            <th>مترجم</th>
                                            <th>نوع کتاب</th>
                                            <th>انتشارات</th>
                                            <th>قیمت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bookBody"></tbody>

                                    <!-- * show each books information -->
                                    <!-- Modal for book details -->
                                    <div class="modal fade" id="bookDetailModal" tabindex="-1" data-bs-backdrop="static"
                                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
                                            role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                    <h5 class="modal-title" id="modalTitleId">مشخصات کتاب</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Book details will be dynamically inserted here -->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">بستن</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- ! article part -->
                    <div class="tabcontent" id="articleTab">
                        <div class="article-part">
                            <div class="container mt-3">
                                <h2 class="yekanExBold">مقالات</h2>
                                <hr>
                            </div>

                            <div class="search-articles-div">
                                <h3 class="yekanBold">جستجو</h3>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <p>جستجو بر اساس نام مقاله | دوره:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="search-article-input d-flex">
                                            <input type="text" class="form-control" placeholder="جستجو کنید ..."
                                                id="article-search-input" onkeydown="SearchArticlesTable()">
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>

                            <div id="articleDiv">
                                <div id="all-articles">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="books-table">
                                                <table
                                                    class="table table-hover table-bordered table-striped table-responsive"
                                                    id="table_articles">
                                                    <thead>
                                                        <tr>
                                                            <th>ردیف</th>
                                                            <th>مقاله | دوره</th>
                                                            <th>آدرس</th>
                                                            <th>عملیات</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="articleBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="border-right: 1px solid rgb(180, 180, 180);">
                                            <div
                                                class="add-article-header d-flex align-items-center mt-2 p-2 rounded-2">
                                                <img src="../assets/images/ic--baseline-plus.svg" style="width: 34px;">
                                                <h5 class="yekanBold">اضافه کردن مقاله | دوره</h5>
                                            </div>
                                            <div class="add-article-form">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="" class="form-label yekanBold">نام فایل:</label>
                                                        <input type="text" class="form-control" placeholder="اینجا بنویسید ...">
                                                    </div>
                                                    <hr>
                                                    <div class="mb-3">
                                                        <label for="" class="form-label yekanBold"
                                                            style="font-size: 17px;">آدرس: </label>
                                                        <input type="file" class="form-control" name="" id=""
                                                            placeholder="" aria-describedby="fileHelpId" />
                                                    </div>
                                                    <div class="add-aricles-buttons text-center">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-success w-100">اضافه کردن</button>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-danger w-100">حذف فایل</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! Note Part -->
                    <div class="tabcontent" id="noteTab">
                        <!-- top nav -->
                        <div class="container bg-white shadow-sm rounded-2 my-3 border-secondary-subtle p-3">
                            <div class="row">
                                <!-- new text button -->
                                <div class="col-md-6" style="display: flex; gap:15px;">
                                    <!-- new text -->
                                    <button class="btn btn-outline-primary" style="display: flex; align-items: center;"
                                        type="button" id="cleareNoteBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em"
                                            viewBox="0 0 24 24">
                                            <path fill="unset"
                                                d="M14 2H4v20h16V8zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3zm-3-7V3.5L18.5 9z" />
                                        </svg>
                                        <p style="padding: 0; margin: 0; margin-right: 5px;">نوشته جدید</p>
                                    </button>
                                    <!-- see all notes -->
                                    <button class="btn btn-outline-info" style="display: flex; align-items: center;"
                                        type="button" id="shareNoteBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="-3 -3 24 24">
                                            <path fill="#000"
                                                d="M.694 17.306c-1.91-1.912.258-7.18 4.845-11.767S15.394-1.217 17.306.694c1.91 1.912-.258 7.18-4.845 11.767S2.606 19.217.694 17.306M2.08 15.92c.815.816 5.102-.95 8.997-4.845c3.895-3.895 5.66-8.182 4.845-8.997c-.815-.816-5.102.95-8.997 4.845c-3.895 3.895-5.66 8.182-4.845 8.997m3.46-3.46C.952 7.874-1.217 2.606.694.694c1.912-1.91 7.18.258 11.767 4.845s6.756 9.855 4.845 11.767c-1.912 1.91-7.18-.258-11.767-4.845zm1.385-1.385c3.895 3.895 8.182 5.66 8.997 4.845c.816-.815-.95-5.102-4.845-8.997c-3.895-3.895-8.182-5.66-8.997-4.845c-.816.815.95 5.102 4.845 8.997M9 11a2 2 0 1 1 0-4a2 2 0 0 1 0 4" />
                                        </svg>
                                        <p style="padding: 0; margin: 0; margin-right: 5px;">همه نوشته ها</p>
                                    </button>
                                    <!-- share -->
                                    <button class="btn btn-outline-indigo" style="display: flex; align-items: center;"
                                        type="button" id="shareNoteBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24">
                                            <path fill="#000"
                                                d="M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12t.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2t2.125.875T21 5t-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12t-.025.363t-.075.337l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19t-.875 2.125T18 22" />
                                        </svg>
                                        <p style="padding: 0; margin: 0; margin-right: 5px;">اشتراک گذاری</p>
                                    </button>
                                </div>
                                <div class="col-md-6" style="text-align: left;">
                                    <!-- ! open folder button -->
                                    <button class="btn btn-outline-danger" type="button" id="openNoteBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1em"
                                            viewBox="0 0 1888 1408">
                                            <path fill="#000"
                                                d="M1879 824q0 31-31 66l-336 396q-43 51-120.5 86.5T1248 1408H160q-34 0-60.5-13T73 1352q0-31 31-66l336-396q43-51 120.5-86.5T704 768h1088q34 0 60.5 13t26.5 43m-343-344v160H704q-94 0-197 47.5T343 807L6 1203l-5 6q0-4-.5-12.5T0 1184V224q0-92 66-158T224 0h320q92 0 158 66t66 158v32h544q92 0 158 66t66 158" />
                                        </svg></button>
                                    <!-- ! save button -->
                                    <button class="btn btn-outline-success" type="button" id="saveNoteBtn"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em"
                                            viewBox="0 0 24 24">
                                            <path fill="#000"
                                                d="M17 3H3v18h18V7zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3s3 1.34 3 3s-1.34 3-3 3m3-10H5V5h10z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                        <div class="noteContent-div">
                            <textarea placeholder="چیزی بنویسید ..." class="border-0 shadow-sm p-3 rounded-2" name=""
                                id="noteArea"
                                style="width: 100%; height: 500px; resize: none; outline: none; background-color: #fffefc;"></textarea>
                        </div>
                    </div>
                    <!-- ! like Books -->
                    <div class="tabcontent" id="likeTab">likeTab</div>
                    <div class="tabcontent" id="bookmarkTab">bookmarkTab</div>
                    <!-- ! course Part -->
                    <div class="tabcontent" id="courseTab">
                        <div id="notConnected-globalId" class="notConnected-global" style="width: 100%; height: 95vh; display: flex; justify-content: center; align-items: center; text-align: center;">
                            <div>
                                <img src="../assets/images/svg-spinners--wifi-fade.svg" class="mb-3" alt="" style="width:50px;">
                                <h3 class="yekanExBold">دسترسی خود را به اینترنت  بررسی کنید</h3>
                            </div>
                        </div>
                        <div id="connected-global">
                            <div class="global-header container mt-4">
                                <h3 class="yekanBold">کتاب های عمومی</h3>
                            </div>
                            <hr>
                            <div class="global-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="book-img-global text-center bg-white">
                                                <img src="../assets/images/book.jpg" class="w-50" alt="">
                                            </div>
                                            <div class="book-content-global mt-2">
                                                <p class="" style="font-size: 15px; color: #3f4064;">کتاب مبانی میکرو الکترونیک ویراست دوم چاپ پنجم اثر بهزاد رضوی انتشارات نص</p>
                                                <div class="global-rate d-flex align-items-center gap-1 justify-content-end">
                                                    <p style="font-size: 12px; color: #222d32; margin: 0;">3.4</p>
                                                    <img src="../assets/images/teenyicons--star-solid.svg" style="width: 15px;" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! about part -->
                    <div class="tabcontent" id="aboutTab">
                        <div class="container mt-4">
                            <p>
                                به نام خدا
                                <br>
                                سلام! من علیرضا مهربان، نویسنده این اپلیکیشن کتابخانه هستم. از شما بابت انتخاب این
                                برنامه برای مدیریت کتابخانه‌تان سپاسگزارم.
                                <br>
                                معرفی
                                <br>
                                من علیرضا مهربان، 21 ساله و اهل شیراز هستم. از دوران کودکی علاقه‌مند به کتاب و مطالعه
                                بودم و همیشه به دنبال راه‌هایی برای بهبود دسترسی به کتاب‌ها و مدیریت بهتر آن‌ها بوده‌ام.
                                این علاقه منجر به توسعه این اپلیکیشن کتابخانه شد که امیدوارم به شما کمک کند تا کتاب‌های
                                خود را به بهترین شکل مدیریت کنید.
                                <br>
                                هدف
                                <br>
                                هدف اصلی من از طراحی و توسعه این اپلیکیشن، ایجاد ابزاری ساده و کاربردی برای مدیریت
                                کتاب‌ها و دسترسی آسان به آن‌ها بود. این برنامه به شما امکان می‌دهد کتاب‌های خود را
                                دسته‌بندی، جستجو و مدیریت کنید و با امکاناتی مانند لایک و ذخیره کتاب‌ها، تجربه کاربری
                                بهتری را فراهم می‌کند.
                                <br>
                                ویژگی‌ها
                                <br>
                                مدیریت کتاب‌ها: اضافه کردن، ویرایش و حذف کتاب‌ها به راحتی.
                                جستجوی پیشرفته: جستجوی کتاب‌ها بر اساس نویسنده، عنوان و دیگر کلمات کلیدی.
                                کتاب‌های لایک شده و ذخیره شده: مشاهده و مدیریت کتاب‌های مورد علاقه و ذخیره شده.
                                نمایش تعداد نویسندگان: نمایش تعداد کل نویسندگان منحصر به فرد در کتابخانه.
                                رابط کاربری کاربرپسند: طراحی ساده و زیبا برای دسترسی آسان و سریع به تمامی امکانات.
                                <br>
                                پیغام شخصی
                                <br>
                                من همیشه به دنبال بازخورد و پیشنهادات شما هستم تا بتوانم این اپلیکیشن را بهبود دهم و
                                تجربه کاربری بهتری را برای شما فراهم کنم. لطفاً نظرات و پیشنهادات خود را از طریق ایمیل
                                به من ارسال کنید. از شما بابت حمایت و استفاده از این اپلیکیشن سپاسگزارم و امیدوارم که
                                این برنامه به شما کمک کند تا از مطالعه کتاب‌های خود لذت ببرید.
                                <hr>
                                با آرزوی موفقیت و شادی برای شما
                                <br>
                                علیرضا مهربان
                            </p>
                        </div>
                    </div>
                    <!-- ! help part -->
                    <div class="tabcontent" id="helpTab">
                        <div class="container mt-3">
                            <h2 class="yekanExBold">راهنمای استفاده از اپلیکیشن مهر</h2>
                            <div class="top-content-help">
                                <p class="my-3 text-secondary" style="font-size: 18px;">
                                    به کتابخانه مهر خوش آمدید! این راهنما به شما کمک می‌کند تا با ویژگی‌های مختلف
                                    سیستم مدیریت کتابخانه ما آشنا شوید.
                                </p>

                                <div class="helpBoxPart mt-4">
                                    <div class="container">
                                        <div class="d-flex justify-content-around">
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #0d6efd;">
                                                <h5 class="yekanBold">مشاهده کتاب ها</h5>
                                                <p class="text-secondary">
                                                    جدول تمامی کتاب‌های موجود در کتابخانه را به همراه نویسنده، عنوان و
                                                    ناشر نمایش می‌دهد.
                                                    ستون عملیات شامل دکمه‌هایی برای ویرایش و حذف کتاب‌ها است.
                                                </p>
                                            </div>
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #dc3545;">
                                                <h5 class="yekanBold">افزودن کتاب</h5>
                                                <p class="text-secondary">
                                                    بر روی دکمه "افزودن کتاب" کلیک کنید.
                                                    اطلاعات مورد نیاز (نویسنده، عنوان، ناشر و غیره) را در فرم مربوطه
                                                    وارد کنید.
                                                    بر روی "ذخیره" کلیک کنید.
                                                </p>
                                            </div>
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #198754;">
                                                <h5 class="yekanBold">ویرایش کتاب</h5>
                                                <p class="text-secondary">
                                                    در جدول، کتاب مورد نظر خود را پیدا کنید.
                                                    بر روی دکمه ویرایش (آیکون مداد) در ستون عملیات کلیک کنید.
                                                    جزئیات مورد نیاز را در فرم ظاهر شده به‌روزرسانی کنید.
                                                    بر روی "ذخیره" کلیک کنید.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-around mt-4">
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #ffc107;">
                                                <h5 class="yekanBold">جستجو کتاب ها</h5>
                                                <p class="text-secondary">
                                                    از نوار جستجو در بالای داشبورد استفاده کنید.
                                                    نام نویسنده، عنوان کتاب یا هر کلمه کلیدی دیگر را وارد کنید.
                                                    جدول نتایج را بر اساس جستجوی شما فیلتر خواهد کرد.
                                                </p>
                                            </div>
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #6500B0;">
                                                <h5 class="yekanBold">نویسندگان</h5>
                                                <p class="text-secondary">
                                                    بر روی دکمه "مشاهده تعداد نویسندگان" در بخش داشبورد کلیک کنید.
                                                    یک پنجره یا بخش نمایش داده می‌شود که تعداد کل نویسندگان منحصر به فرد
                                                    در کتابخانه را نشان می‌دهد.
                                                </p>
                                            </div>
                                            <div class="hlpBx shadow-sm" style="border-right: 3.5px solid #0dcaf0;">
                                                <h5 class="yekanBold">لایک شده و سیو شده</h5>
                                                <p class="text-secondary">
                                                    بر روی دکمه "لایک شده | ذخیره شده" کلیک کنید.
                                                    لیستی از تمامی کتاب‌هایی که لایک و ذخیره شده‌اند نمایش داده خواهد
                                                    شد.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer text-center">
                    <p class="text-secondary">ورژن 1.0.0</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/database.js"></script>
    <script>
        // modals scripts
        const myModal2 = new bootstrap.Modal(
            document.getElementById("bookHelpId"),
            options,
        );
        const myModal4 = new bootstrap.Modal(
            document.getElementById("bookDetailModal"),
            options,
        );
    </script>
</body>

</html>